/* change vh and vw? ::: mostly used for margins, padding, spacing, and widths/heights */

*{
    --dark-blue: #090715;
    --red: #881423;
    --white-blue: #EBE9F9;
    font-size: 15px;
}

body, html{
    background-color: var(--dark-blue);
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    width: 100%;
}

nav{
    background-color: var(--red);
    display: flex;
    width: 100%;
    height: 55px;
}

.menu{
    position: relative;
}

.drop-button{
    font-family: "Junge", cursive;
    margin-top: 7px;
    margin-left: 10px;
    min-width: 105px;
    font-size: 1.5rem;
    color: var(--white-blue);
    border: 2px solid var(--dark-blue);
    background-color: var(--dark-blue);
    padding: 5px;
    border: 2px solid var(--white-blue);
    cursor: pointer;
}

.drop-button:hover{
    background-color: var(--red);
    border: 2px solid var(--dark-blue);
}

.drop-button:active{
    background-color: var(--dark-blue);
}

.dropdown-content{
    margin-left: 10px;
    padding: 5px;
    display: none;
    top: 100%; /* hmm */
    background-color: white;
    position: absolute;
    min-width: 125px;
    z-index: 1;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.1);
}

.dropdown-container{
    position: relative;
    display: inline-block;
}

.dropdown-content a{
    font-family: "Junge", cursive;
    text-decoration: none;
    display: block;
    font-size: 1.5rem;
    color: var(--dark-blue);
}

.dropdown-content a:hover{
    color: var(--red);
    text-decoration: underline;
}

menu > .drop-container{
    position: relative;
    display: inline-block;
}

.drop-container:hover .dropdown-content{
    display: block;
}

/* Home Page CSS Start */

#heading{
    font-family: "Just Me Again Down Here", cursive;
    font-weight: 200;
    font-size: 5rem;
    color: var(--white-blue);
    margin-top: 100px;
    text-align: center;
    line-height: 15vh;}

#desc{
    font-family: "Junge", cursive;
    font-size: 1rem;
    color: var(--white-blue);
    text-align: center;
    margin-top: -35px;
}

.startbtn{
    margin-top: 25px;
    text-align: center;
}

#start{
    text-align: center;
    font-family: "Junge", cursive;
    font-size: 1.5rem;
    color: var(--white-blue);
    background-color: var(--red);
    border: 2px solid var(--dark-blue);
    width: 240px;
    padding: 5px;
}

#start:hover {
    cursor: pointer;
    background-color: var(--dark-blue);
    border: 2px solid var(--red);
    color: var(--white-blue);
}

#start:active{
    background-color: var(--red);
    color: var(--white-blue);
}

/* Home Page CSS End */

/* Art Page CSS Start */

.img-scroll{
    display: flex;
    padding-left: 10px;
    overflow-x: auto;
}

.scrolling-content img{
    padding: 15px;
    padding-right: 30px;
    border-radius: 10%;
}

.img-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-item p{
    font-family: "Junge", cursive;
    font-size: 1rem;
    margin-top: 0px;
    text-align: center;
}

.scrolling-content > .img-scroll > .img-item > p{
    color: var(--white-blue);
}

#image1:hover, #image2:hover, #image3:hover, #image4:hover{
    cursor: pointer;
}

/*code inspired from https://www.w3schools.com/howto/howto_css_modal_images.asp*/
.modal{
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
}

.modal-content{
    position: absolute;
    overflow: hidden;
    margin: auto;
    display: block;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vh;
    max-width: 80vw;
}

.close{
    position: absolute;
    top: 25px;
    right: 35px;
    color: var(--white-blue);
    font-size: 4rem;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover{
    color: gray;
    text-decoration: none;
    cursor: pointer;
}

/* Art Page CSS End */

@media only screen and (max-width:700px){

    nav{
        width: 200%;
    }

    body, html{
        overflow-y: visible;
        overflow-x: hidden;
    }

    .img-scroll{
        display: block;
        overflow-y: visible;
        overflow-x: hidden;
    }

    .scrolling-content img{
        padding: 2vh;
    }

    .modal-content{
        overflow-y: hidden;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin-left: 0vw;
        margin-right: 0vw;
        max-width: 100vw;
    }

    .close{
        position: relative;
        top: 2%;
        left: 90%;
    }

}