/* for week3.html */
*{
    --dark_purple: #1D1331;
    --pink: #E5898D;
    --gray_purple: #DCCBD0;
    --blue: #6E84BC;
    font-size: 13px;
}

body {
    position: relative;
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
    font-size: 2rem;
    /*display: grid;
    grid-template-columns: 256px auto;*/
}

.container-content{
    position: relative;
    left: 25vw;
    padding: 36px;
    margin: 24px;
    width: 65vw;
    font-size: 2rem;
}

#heading{
    color: var(--blue);
    font-family: "Ubuntu", sans-serif;
    font-size: 7rem;
    font-weight: 400;
    line-height: 140%;
   /* letter-spacing: 10%;*/
    text-transform: uppercase;
}

nav{
    background-color: var(--blue);
    font-family: "Ubuntu Sans", sans-serif;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 25vw;
    height: 100vh;
    font-size: 3rem;
}

nav > ul{
    margin-left: 0px;
    margin-top: 121px;
    padding: 0px;
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 200;
    line-height: 150%;
    letter-spacing: 1px;
    list-style-type: none;
}

/*nav > ul > li{
    font-size: 3rem;
    margin: 0px;
    padding: 0px;
}*/

nav > ul > li > a:visited{
    background-color: var(--gray_purple);
    color: white;
    text-decoration: none;
}

nav > #menu{
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--gray_purple);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: block;
}

nav > #menu > span{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navStyle > ul > li > a, a:visited{
    font-size: 2rem;
    color: var(--dark_purple);
    text-decoration: none;
}

h1{
    color: var(--pink);
    font-family: "Ubuntu", sans-serif;
    text-transform: uppercase;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 10%;
}

h2{
    color: var(--pink);
    font-family: "Ubuntu", sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 10%;
}

h3{
    color: var(--pink);
    font-family: "Ubuntu", sans-serif;
    text-transform: lowercase;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 10%;
}

strong{
    background-color: var(--dark_purple);
    color: var(--blue);
    font-family: "Ubuntu Sans", sans-serif;
    font-weight: 800;
    font-size: 2rem;
}

i{
    background-color: var(--dark_purple);
    color: var(--blue);
    font-family: "Ubuntu Sans", sans-serif;
    font-weight: 200;
    font-size: 2rem;
}

.description{
    color: var(--dark_purple);
    font-family: "Ubuntu Sans", sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
}

.description > div{
    font-size: 2rem;
}

.description > ul{
    list-style: "→   ";
}

.description > ul > li > a:visited, a:active{
    color: var(--blue);
    text-decoration: none;
    font-size: 2rem;
}

.description > ul > li > a{
    font-family: "Ubuntu Sans", sans-serif;
    color: var(--blue);
    background-color: var(--dark_purple);
    font-weight: 800;
    text-decoration: none;
    -webkit-text-stroke: 0px;
    transition: color 2s;
    font-size: 2rem;
}

.description > ul > li > a:hover {
    background-color: var(--dark_purple);
    color: transparent;
    font-family: "Ubuntu Sans", sans-serif;
    font-weight: 800;
    text-decoration: none;
    -webkit-text-stroke: 1px white;
    font-size: 2rem;
}

section > a:visited, active{
    color: var(--blue);
    text-decoration: none;
    font-size: 2rem;
}

section > div > a{
    font-family: "Ubuntu Sans", sans-serif;
    color: var(--blue);
    background-color: var(--dark_purple);
    font-weight: 800;
    text-decoration: none;
    -webkit-text-stroke: 2s;
    transition: color 2s;
    font-size: 2rem;
}

section > div > a:hover{
    font-family: "Ubuntu Sans", sans-serif;
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
    background-color: var(--dark_purple);
    font-weight: 800;
    text-decoration: none;
    font-size: 2rem;
}

.description > div::first-letter{
    font-family: "Ubuntu", sans-serif;
    font-size: 26px;
    font-style: italic;
    -webkit-initial-letter: 2;
    initial-letter: 2;
}

.break{
    font-family: "Ubuntu Sans", sans-serif;
    font-size: 1rem;
    color: var(--pink);
    background-color: var(--blue);
    bottom: 0px;
    left: 0px;
    width: 50vw;
}

/* I referenced W3 schools to refresh my memory on button styling
https://www.w3schools.com/css/css3_buttons.asp */
.button{
    font-family: "Ubuntu Sans", sans-serif;
    font-size: 1rem;
    color: var(--dark_purple);
    background-color: var(--pink);
    padding: 10px 36px;
    margin: 20px;
    border: 3px solid var(--dark_purple);
    border-radius: 25px;
}

.button:hover{
    background-color: white;
    border: 3px solid var(--pink);
    color: var(--pink);
}

@media only screen and (max-width:600px){
    *{
        font-size: 10px;
    }

    nav{
       position: fixed;
       top: 0px;
       left: 0px;
       height: 15vh;
       width: 100vw;
    }
    
    nav > #menu{
        display: none;
    }

    .container-content{
        position: relative;
        top: 12vh;
        left: 0px;
        padding: 36px;
        margin: 0px;
        width: 60%;
        font-size: 2rem;
    }

    nav > ul{
        display: flex;
        margin: 0 auto;
        gap: 20px;
        padding: 0px;
        text-align: center;
        font-size: 2rem;
        font-style: normal;
        font-weight: 100;
        letter-spacing: 9px;
        list-style-type: none;
        justify-content: center;
        align-items: center;
    }
    .break{
        font-family: "Ubuntu Sans", sans-serif;
        font-size: 1rem;
        color: var(--pink);
        bottom: 0px;
        left: 0px;
        width: 50vw;
    }
}