body{
    background-color: black;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container{
    width: 90vw;
    height: 90vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container > div{
    margin-right: 51px;
}

.interactivity{
    position: relative;
    top: 0px;
    margin-top: 89px;
}

.narrative{
    position: relative;
    top: 0px;
    padding: 86px 45px;
    overflow-y: auto;
    border: 5px solid #FFF;
    border-radius: 30px;
    margin-top: 89px;
    color: #FFF;
    font-family: "Roboto Condensed";
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

h1{
    color: #FFF;
    font-family: "Pirata One";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

#character-name{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

#buttonGroup{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 27px;
}

#buttonGroup > button{
    margin-left: 12px;
    margin-right: 12px;
}

input[type="text"]{
    width: 387px;
    height: 55px;
    background-color: black;
    border-radius: 20px;
    border: 1px solid #FFF;
    color: white;
    text-align: center;
    font-family: "Pirato One";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#generate{
    background-color: white;
    color: black;
}